
<div class="headerContainer">
    <div class="greeting">
        <div>Hello! I am Tobias</div>
        <div>
            <div>FRONTEND</div>
            <div>DEVELOPER</div>
        </div>
    </div>
    <div class="icons">
        <div>
            <img src="../../assets/img/icons/defGitBtn.png">
        </div>
        <div>
            <img src="../../assets/img/icons/defLinkBtn.png">
        </div>
        <div>
            <img src="../../assets/img/icons/defMailBtn.png">
        </div>
    </div>
</div>


<div class="profilePictureContainer">
    <img class="profilePicture" src="../../assets/img/Profilbild1.jpg">
</div>

