.headerContainer {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #EAF0FF;

    > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    };

    > .profilePictureContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.profilePicture {
    height: 600px;
    width: auto;
}

.headerSubContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.greeting {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
}


.greeting > div:first-of-type {
    font-size: 64px;
    text-align: left;
    color: #5988FF;
    word-wrap: break-word;
}

.greeting > div:last-of-type  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > div {
        font-size: 100px;
        color: #5988FF;
        text-align: left;
        font-family: 'Baloo 2', sans-serif;
        font-weight: bold;
        line-height: 0.8;
    }
}

/* .greeting > div:last-of-type > div {
} */

.icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-end;
    gap: 15px;

    > a > div {
        height: 40px;
        width: 40px;
    }
}

.defGitBtn {
    background: url(../../assets/img/icons/defGitBtn.png) no-repeat;
}

.defGitBtn:hover {
    background: url(../../assets/img/icons/hovGitBtn.png) no-repeat;
}

.defLinkBtn {
    background: url(../../assets/img/icons/defLinkBtn.png) no-repeat;
}

.defLinkBtn:hover {
    background: url(../../assets/img/icons/hovLinkBtn.png) no-repeat;
}

.defMailBtn {
    background: url(../../assets/img/icons/defMailBtn.png) no-repeat;
}

.defMailBtn:hover {
    background: url(../../assets/img/icons/hovMailBtn.png) no-repeat;
}

/* ================= RESPONSIVENESS ================= */
@media (max-width: 1080px) {
    .greeting > div:first-of-type {
        font-size: 54px;
    }
    
    .greeting > div:last-of-type  {
        > div {
            font-size: 80px;
        }
    }
}
@media (max-width: 870px) {
    .headerContainer {
        > div {
            width: 100%;    
        }
    }

    .headerContainer {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .icons {
        display: none;
    }
   }
