<div class="backgroundHeader">
    <div class="headerContainer siteLayout">
        <div class="profilePictureContainer">
            <img class="profilePicture" src="../../assets/img/Profilbild4_1.png">
        </div>
    
        <div class="headerSubContainer">
            <div class="greeting">
                <div translate>Hallo! Ich bin Tobias</div>
                <div>
                    <div>FRONTEND</div>
                    <div>DEVELOPER</div>
                </div>
            </div>
        
            <div class="icons">
                <a href="https://github.com/TobiasOdi" target="_black">
                    <div class="defGitBtn"></div>
                </a>
                <a href="https://www.linkedin.com/in/tobias-odermatt-75a619247/" target="_black">
                    <div class="defLinkBtn"></div>
                </a>
                <a href="mailto: odermatt.tobias.w@gmail.com" target="_black">
                    <div class="defMailBtn"></div>
                </a>
            </div>
        </div>
    </div>    
</div>



