<footer>
    <div>
        <img src="../../assets/img/logo.png">
    </div>
    <div>
        <div>© Tobias Odermatt 2023</div>
        <div class="impressum">
            <a href="">Impressum</a>
            <div class="whiteLine"></div>
        </div>
    </div>
    <div>
        <a href="https://github.com/TobiasOdi">
            <img src="../../assets/img/icons/Github button.png" class="icon">
        </a>
        <a href="https://www.linkedin.com/in/tobias-odermatt-75a619247/">
            <img src="../../assets/img/icons/Linkedin button.png" class="icon">
        </a>
        <a href="mailto: odermatt.tobias.w@gmail.com">
            <img src="../../assets/img/icons/Email button.png" class="icon">
        </a>
    </div>
</footer>
