@import '../../styles.scss';

footer {
    height: 200px;
    background: linear-gradient(128.94deg, $light-blue -33.96%, $blue 112.25%);
    /* background: linear-gradient(128.94deg, #5988FF -33.96%, $light-blue 36.71%, $blue 112.25%); */ 
    /* background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footerRowOne {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerRowOne > div {
    width: 195px;
}

.footerRowOne > div:nth-of-type(2) {
    text-align: center;
}

.footerRowTwo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo {
    display: flex;
    align-items: center;
    align-items: center;
}

.footerLogo > .logoName > div:last-of-type {
    color: white;
}

.footerRowOne > div:nth-of-type(2),
.footerImprintContainer > div {
    color: white;
}

.imprintLink {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    > a {
        color: white;
        text-decoration: none;
    }
}

.whiteLine {
    width: 45px;
    height: 2px;
    background-color: white;
    opacity: 0;
}

.imprintLink:hover > div {
    opacity: 1;
}

.footerRowOne > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footerRowOne > div:last-of-type > a:hover {
    scale: 1.2;
}

/* ========================= IMPRINT ============================ */
.imprintContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
/*     padding-left: 2rem;
    padding-right: 2rem;
 */    background: rgba(0,0,0,0.6);
    z-index: 100;
}

.imprintSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 80vh;
    width: 80vw;
    border-radius: 1rem;
    padding: 2rem;
    padding-bottom: 0;
}

.imprint {
    height: calc(100% - 90px);
    width: 100%;
}

.imprint app-imprint {
    height: 100%;
    width: 100%;
}

.buttonContainer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.impressum a {
    cursor: pointer;
}

/* ================== RESPONSIVENESS ==================== */
@media(max-width: 720px) {
    .imprintSubContainer {
        height: 90vh;
        width: 90vw;
    }
    .imprint {
        height: calc(100% - 82px);
    }

    .buttonContainer {
        height: 82px;
    }    
}


@media(max-width: 600px) {
    footer {
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footerRowOne {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .footerRowOne > div {
        width: auto;
    }
}

@media(max-width: 480px) {
    .imprintSubContainer {
        padding: 1rem;
        padding-bottom: 0;
    }
}

