@import '../../styles.scss';

footer {
    height: 200px;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 25px;

    > div:first-of-type {
        font-size: 23px;
        color: white;
    }
}

.impressum {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    gap: 5px;

    > a {
        color: white;
        text-decoration: none;
    }
}

.whiteLine {
    width: 45px;
    height: 2px;
    background-color: white;
    opacity: 0;
}

.impressum:hover > div {
    opacity: 1;
}

footer > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer > div:last-of-type > a:hover {
    scale: 1.2;
}