<div class="aboutMeContainer" id="aboutMe">
    <div class="aboutMe">
        <div translate>Über mich</div>
        <div>
            <p translate> Ich bin ein Frontend-Entwickler mit Sitz in Zürich, Schweiz. Ich freue mich darauf, meine Entwicklerkarriere mit einer Stelle als Junior-Webentwickler fortzusetzen.
                Wenn Sie glauben, dass ich gut zu Ihren Projekten passen würde, kontaktieren Sie mich!
            </p>
        </div>
        <a href="https://tobias-odermatt.developerakademie.net/angular-projects/tobias_odermatt/4_Lebenslauf_%20T%20Odermatt.pdf" target="_blank" class="button" download translate>Download CV</a>
    </div>
    <div class="aboutMeProfilePicture">
        <img src="../../assets/img/Profilbild3.png">
    </div>
</div>
