@import '../../styles.scss';

.backgroundAboutme {
    background-color: white;
}

.aboutMeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.aboutMeProfilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
}

/* ================= RESPONSIVENESS ================= */
@media (max-width: 870px) {
    .aboutMeProfilePicture {
        display: none;
    }

    .aboutMeContainer {
        > div {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        p {
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .aboutMe {
        div:last-of-type {
            font-size: 18px;
        }
    }
}

@media (max-width: 480px) {
        div:last-of-type {
            font-size: 16px;
        }
}


