<div class="aboutMeContainer">
    <div class="aboutMe">
        <div>About me</div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci corporis explicabo itaque, exercitationem quos quis quam error qui aut, expedita neque. In, eius accusamus! Magni, reprehenderit. Maxime enim itaque libero vitae perferendis, obcaecati blanditiis culpa sint, quaerat animi nisi, sit praesentium delectus dolor cum? Laudantium, amet id. Aliquid, aspernatur voluptate!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eligendi officia cupiditate laborum eos saepe doloremque labore dignissimos at modi architecto ipsa doloribus itaque nemo, distinctio beatae corporis, ullam nobis rem soluta esse, incidunt blanditiis qui provident? Nesciunt quaerat quibusdam dolore sint dolor culpa id laboriosam, blanditiis magni ab autem?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, veritatis similique illum nobis voluptates suscipit, corrupti quasi odio distinctio debitis sed eos optio maiores voluptatum ullam recusandae? Iusto culpa, consequuntur non hic, ullam quas qui dolore laudantium in, repellat fugit nam velit obcaecati voluptatem quis animi? Repellat ducimus eaque facilis.</p>
        </div>
    </div>
    <div class="aboutMeProfilePicture">
        <img src="../../assets/img/Profilbild2.png">
    </div>
</div>
