@import '../../styles.scss';

.aboutMeContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;

    div:first-of-type {
        font-size: 100px;
        font-family: 'Baloo 2', sans-serif;
        font-weight: bold;
        color: #5988FF;
        line-height: 0.8;
    }

    div:last-of-type {
        font-size: 23px;
    }
}

.aboutMeProfilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    img {
        height: auto;
        width: 300px;
        border-radius: 50%;
    }
}

/* ================= RESPONSIVENESS ================= */
@media (max-width: 1080px) {
    .aboutMe {
        div:first-of-type {
            font-size: 80px;
    }
    }
}

@media (max-width: 870px) {
    .aboutMeProfilePicture {
        display: none;
    }

    .aboutMeContainer {
        > div {
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        p {
            text-align: center;
        }
    }
    
}


