.contactContainer {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;

    > div:first-of-type {
        font-size: 90px;
        color: #5988FF;
        font-family: 'Baloo 2', sans-serif;
        font-weight: bold;
    }
}

.contactSubContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    > div:first-of-type > div:first-of-type {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #5988FF;
    }
}

.contactSubContainer form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputContainer,
.inputSubContainer,
.inputNote,
.inputSubContainer > input,
.inputSubContainer > textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.inputSubContainer,
.inputSubContainer > input,
.inputSubContainer > textarea,
.validationImages {
    height: 50px;
    line-height: 50px;
}

.validationImages {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.validImg,
.errorImg {
    position: absolute;
    right: 20px;
    display: none;
}

.inputSubContainer {
    position: relative;
}

.inputSubContainer > input,
.inputSubContainer > textarea {
    position: absolute;
    border: 1px solid #5988FF;
    background: transparent;
    outline: none;
    padding: 0 20px;
    transition: 0.1s ease;
    z-index: 10;
}

.inputSubContainer > textarea {
    height: 150px;
    min-height: 55px;
}

.inputSubContainer > input,
.inputSubContainer > textarea,
.labelLine,
.inputNote {
    color: black;
    font-size: 16px;
}

.labelLine {
    height: 50px;
    line-height: 50px;
    background-color: white;
    position: absolute;
    padding: 0 20px;
    transition: 0.2s ease;
}

.inputNote {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: red;
    transition: 0.3s ease;
}

.inputSubContainer > input:focus + .labelLine,
.inputSubContainer > textarea:focus + .labelLine {
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

.inputSubContainer > input:valid,
.inputSubContainer > textarea:valid {
    color: green;
    border: 2px  solid green;
}

.inputSubContainer > input:focus:invalid,
.inputSubContainer > textarea:focus:invalid {
    color: red;
    border: 2px  solid red;
}

.inputSubContainer > input:valid + .labelLine,
.inputSubContainer > textarea:valid + .labelLine {
    color: green;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

.inputSubContainer > input:valid ~ .validationImages > .validImg,
.inputSubContainer > textarea:valid ~ .validationImages > .validImg {
    display: flex;
}

.inputSubContainer > input:focus:invalid ~ .validationImages > .errorImg,
.inputSubContainer > textarea:focus:invalid ~ .validationImages > .errorImg {
    display: flex;
}

.inputSubContainer > input:focus:invalid + .labelLine,
.inputSubContainer > textarea:focus:invalid + .labelLine {
    color: red;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

/*     > textarea ::-webkit-resizer {
        background-image: url(../../assets/img/icons/Frame.png);
        object-fit: cover;
} */



/* .contactSubContainer form > input,
.contactSubContainer form > textarea {
    color: white;
    font-size: 16px;
    line-height: 19px;
    border: 0 0 2px 0;
    padding: 15px 25px 15px 25px;
    gap: 10;
    background-color: black;
    outline: none;
    height: 50px;
    width: 500px;
} */

.contactSubContainer form > div:last-of-type {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.defUpBtn {
    background: url(../../assets/img/icons/defUpBtn.png) no-repeat;
    height: 39px;
    width: 39px;
}

.defUpBtn:hover {
    background: url(../../assets/img/icons/hovUpBtn.png) no-repeat;
}

/* ========================== CHECKBOX ========================== */

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    cursor: pointer;
}

.checkboxNotChecked {
    width: 24px;
    height: 24px;
    background: url(../../assets/img/icons/defCheckbox.png);
    border-radius: 50%;

    &:hover {
        background-color: #D4E0FF;
    }

    > input {
        opacity: 0;
        cursor: pointer;
    }
}

.checkboxChecked {
    background: url(../../assets/img/icons/checkedCheckbox.png);
}

/* ================== RESPONSIVENESS ============== */
@media (max-width: 720px) {
    .contactContainer {
        > div:first-of-type {
            font-size: 80px;
        }
    }

    .contactSubContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2rem;
        }

        > div:first-of-type > div:first-of-type {
            font-size: 25px;
        }
    }
}

@media (max-width: 480px) {
    .contactContainer {
        padding-left: 1rem;
        padding-right: 1rem;

        > div:first-of-type {
            font-size: 65px;
        }
    }

    .contactSubContainer {
        > div:first-of-type > div:first-of-type {
            font-size: 20px;
        }
    }
}

@media (max-width: 360px) {
    .contactContainer {
        padding-left: 1rem;
        padding-right: 1rem;

        > div:first-of-type {
            font-size: 50px;
        }
    }

    .contactSubContainer {
        > div:first-of-type > div:first-of-type {
            font-size: 18px;
        }
    }
}
