@import '../../styles.scss';

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    padding-bottom: 2rem;
}

/* ========================= PRIVACY POLICY ============================ */
.privacyPolicyContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    z-index: 100;
}

.privacyPolicySubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 80vh;
    width: 80vw;
    border-radius: 1rem;
    padding: 2rem;
    padding-bottom: 0;
}

.privacyPolicy {
    height: calc(100% - 90px);
    width: 100%;
}

.privacyPolicy app-data-protection {
    height: 100%;
    width: 100%;
}

.buttonContainer {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/* ================================================================ */

.contactSubContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    > div {
        width: 100%;
    }

    > div:last-of-type {
        display: flex;
        gap: 1.5rem;
    }

    > div:last-of-type > div{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;
    }

    > div:last-of-type > div:first-of-type >  div:first-of-type {
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: $blue;
        /* color: #5988FF; */
    }

    > div:last-of-type > div:first-of-type >  div:last-of-type {
        color: $light-blue;
    }
}

.contactForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inputContainer,
.inputSubContainer,
.inputNote,
.inputSubContainer > input,
.inputSubContainer > textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
}

.inputSubContainer {
    height: auto;
    position: relative;
}

.inputSubContainer > input,
.validationImages,
.labelLine {
    height: 50px;
    line-height: 50px;
}

.validationImages {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.validImg,
.errorImg {
    position: absolute;
    right: 20px;
    display: none;
}

.inputSubContainer > input,
.inputSubContainer > textarea {
    position: absolute;
    border: 1px solid $blue;
    /* border: 1px solid #5988FF; */
    background: transparent;
    outline: none;
    padding: 0 20px;
    transition: 0.1s ease;
    z-index: 10;
}

.inputContainer > .inputSubContainer:nth-of-type(3) {
    height: auto;
}

.inputSubContainer > textarea {
    height: 150px;
    line-height: normal;
    padding-top: 1rem;

    &::-webkit-resizer {
        display: none;
}
}

.inputSubContainer > input,
.inputSubContainer > textarea,
.labelLine,
.inputNote {
    color: black;
    font-size: 16px;
}

.labelLine {
    background-color: white;
    position: absolute;
    padding: 0 20px;
    transition: 0.2s ease;
}

.inputNote {
    display: none;
    margin-top: 10px;
    font-size: 12px;
    color: red;
    transition: 0.3s ease;
}

.contactForm > div:nth-of-type(3) textarea,
.contactForm > div:nth-of-type(3) .labelLine,
.contactForm > div:nth-of-type(3) .validationImages {
    height: 150px;
}

.contactForm > div:nth-of-type(3) .validationImages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 12px;
}

.inputSubContainer > input:focus + .labelLine,
.inputSubContainer > textarea:focus + .labelLine {
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

.inputSubContainer > input:valid,
.inputSubContainer > textarea:valid {
    color: green;
    border: 2px  solid green;
}

.valid {
    color: green;
    border: 2px  solid green;
}

.inputSubContainer > input:focus:invalid,
.inputSubContainer > textarea:focus:invalid {
    color: red;
    border: 2px  solid red;
}

.invalid {
    color: red;
    border: 2px  solid red;
}

.inputSubContainer > input:valid + .labelLine,
.inputSubContainer > textarea:valid + .labelLine {
    color: green;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

.inputSubContainer > input:valid ~ .validationImages > .validImg,
.inputSubContainer > textarea:valid ~ .validationImages > .validImg {
    display: flex;
}

.inputSubContainer > input:focus:invalid ~ .validationImages > .errorImg,
.inputSubContainer > textarea:focus:invalid ~ .validationImages > .errorImg,
.inputSubContainer > input:focus:invalid ~ .inputNote,
.inputSubContainer > textarea:focus:invalid ~ .inputNote {
    display: flex;
}

.inputSubContainer > input:focus:invalid + .labelLine,
.inputSubContainer > textarea:focus:invalid + .labelLine,

.inputSubContainer > input:nth-of-type(2):required:invalid + .labelLine {
    color: red;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    transform: translateY(-15px) scale(0.88);
    z-index: 10;
}

.contactForm input:disabled,
.contactForm textarea:disabled,
.contactForm button:disabled {
    border: 1px solid gray;
    color: gray;
    background-color: lightgray;

}

.contactForm button:disabled:hover {
    background: none;
}

.upButton {
    width: 100%;
    display: flex;
    flex-direction: row;

    > a {
        width: 39px;
    }
}

.defUpBtn {
    background: url(../../assets/img/icons/defUpBtn1.svg) no-repeat;
    height: 39px;
    width: 39px;
}

.defUpBtn:hover {
    background: url(../../assets/img/icons/hovUpBtn1.svg) no-repeat;
}

/* ========================== CHECKBOX ========================== */
.privacyPolicyConsent {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.checkboxContainer {
    position: relative;
    height: 18px;
    width: 18px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid $blue;
    /* border: 2px solid #5988FF;*/
    border-radius: 3px;
}

.checkboxTick {
    position: absolute;
    display: none;
    height: 12px;
    width: 12px;
    margin: 0 auto;
}

.checkboxContainer:hover .checkboxHoverContainer {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgba(121, 126, 243, 0.6);
}

.inputCheckbox {
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.showTick {
    display: block;
}

.privacyPolicyConsent > div:last-of-type a {
    cursor: pointer;
    text-decoration: none;
    color: $light-blue;
    /* color: #5988FF; */
    display: inline-block;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 0.7;

    &:hover {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 3px;
    }
}

.privacyPolicyConsent > div:last-of-type a::after {
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    font-weight: bold;
    content: inherit;
}

/* ================== RESPONSIVENESS ============== */
@media (max-width: 720px) {
    .privacyPolicySubContainer {
        height: 90vh;
        width: 90vw;
    }
    
    .privacyPolicy {
        height: calc(100% - 82px);
    }

    .buttonContainer {
        height: 82px;
    } 

    .contactSubContainer > div:last-of-type {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        > div:first-of-type > div:first-of-type {
            font-size: 25px;
        }
    }
}

@media (max-width: 510px) {
    .privacyPolicySubContainer {
        padding: 1rem;
    }

    .buttonContainer {
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }

}

@media (max-width: 480px) {
    @media(max-width: 480px) {
        .privacyPolicySubContainer {
            padding: 1rem;
            padding-bottom: 0;
        }
    }

    .contactSubContainer > div:last-of-type > div:first-of-type > div:first-of-type {
        font-size: 20px;
    }
}

@media (max-width: 360px) {
    .contactSubContainer > div:last-of-type > div:first-of-type > div:first-of-type {
        font-size: 18px;
    }
}
