<div class="contactContainer">
    <div>Contact</div>
    <div class="contactSubContainer">
        <div>
            <div>Want to discuss a new project?</div>
            <div>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
            <div>Need a Frontend developer? Contact me!</div>
        </div>
        <div>
            <form action="">
                <input type="text" name="name" placeholder="Your name">
                <input type="email" name="email" placeholder="Your email">
                <textarea name="message" cols="30" rows="8" placeholder="Your message"></textarea>
                <div>
                    <div>
                        <input type="checkbox">
                    </div>
                    <div>
                        I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.
                    </div>
                </div>
                
                <button class="button">Send message</button>
            </form>
        </div>
    </div>
    <div class="upButton">
        <a href="#header">
            <div class="defUpBtn"></div>
        </a>
    </div>
</div>

