<div class="contactContainer" id="contact">
    <div>Contact</div>
    <div class="contactSubContainer">
        <div>
            <div>Want to discuss a new project?</div>
            <div>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
            <div>Need a Frontend developer? Contact me!</div>
        </div>
        <div>
            <form #contactForm class="contactForm" (submit)="sendMail()" ngNativeValidate>
                <div class="inputContainer">
                    <div class="inputSubContainer">
                        <input type="text" name="name" #nameField required>
                        <div class="labelLine">Your name</div>
                        <div class="validationImages">
                            <img class="validImg" src="../../assets/img/icons/valid.png">
                            <img class="errorImg" src="../../assets/img/icons/error.png">
                        </div>
                    </div>
                    <div class="inputNote">
                        Your name is required
                    </div>
                </div>

                <div class="inputContainer">
                    <div class="inputSubContainer">
                        <input type="email" name="email" #emailField required>
                        <div class="labelLine">Your email</div>
                        <div class="validationImages">
                            <img class="validImg" src="../../assets/img/icons/valid.png">
                            <img class="errorImg" src="../../assets/img/icons/error.png">
                        </div>
                    </div>
                    <div class="inputNote">
                        Your email is required
                    </div>
                </div>

                <div class="inputContainer">
                    <div class="inputSubContainer">
                        <textarea type="textarea" name="message" #messageField required></textarea>
                        <div class="labelLine">Your message</div>
                        <div class="validationImages">
                            <img class="validImg" src="../../assets/img/icons/valid.png">
                            <img class="errorImg" src="../../assets/img/icons/error.png">
                        </div>
                    </div>
                    <div class="inputNote">
                        A message is required
                    </div>
                </div>
                
                <div>
                    <div id="checkboxContainer" class="checkboxContainer">
                        <img class="checkboxTick" src="../../assets/img/icons/checkboxTick.svg">
                        <div class="checkboxHoverContainer">

                        </div>
                    </div>
                    <div>
                        I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.
                    </div>
                </div>
                <button type="submit" class="button" #submitButton>Send message</button>
            </form>
        </div>
    </div>
    <div class="upButton">
        <a href="#header">
            <div class="defUpBtn"></div>
        </a>
    </div>
</div>

