<div class="contactContainer siteLayout" id="contact">
    <div class="privacyPolicyContainer" *ngIf="checkPrivacyPolicy">
        <div class="privacyPolicySubContainer">
            <div class="privacyPolicy">
                <app-data-protection></app-data-protection>
            </div>  
            <div class="buttonContainer">
                <button (click)="showPrivacyPolicy()" class="button">Close</button>
            </div>
        </div>
    </div>

    <div class="contactSubContainer">
        <div class="title" translate>Kontakt</div>
        <div>
            <div>
                <div translate>Möchten Sie ein neues Projekt besprechen?</div>
                <div translate>Kontaktieren Sie mich über dieses Formular. Ich bin daran interessiert, Ihre Ideen kennenzulernen und mit meiner Arbeit zu Ihren Projekten beizutragen.</div>
                <div translate>Brauchen Sie einen Frontend-Entwickler? Kontaktieren Sie mich!</div>
            </div>
            <div>
                <form #contactForm class="contactForm" (submit)="sendMail()" ngNativeValidate>
                    <div class="inputContainer">
                        <div class="inputSubContainer">
                            <input ng-model="nameField.valid" type="text" name="name" #nameField required>
                            <div class="labelLine" translate>Name</div>
                            <div class="validationImages">
                                <img class="validImg" src="../../assets/img/icons/valid.png">
                                <img class="errorImg" src="../../assets/img/icons/error.png">
                            </div>
                            <div id="inputNote1" class="inputNote" translate>
                                Your name is required
                            </div>    
                        </div>
                    </div>
    
                    <div class="inputContainer">
                        <div class="inputSubContainer">
                            <input type="email" name="email" #emailField required>
                            <div class="labelLine" translate>E-Mail</div>
                            <div class="validationImages">
                                <img class="validImg" src="../../assets/img/icons/valid.png">
                                <img class="errorImg" src="../../assets/img/icons/error.png">
                            </div>
                            <div id="inputNote2" class="inputNote" translate>
                                Your email is required
                            </div>
                        </div>
                    </div>
    
                    <div class="inputContainer">
                        <div class="inputSubContainer">
                            <textarea type="textarea" name="message" #messageField required></textarea>
                            <div class="labelLine" translate>Nachricht</div>
                            <div class="validationImages">
                                <img class="validImg" src="../../assets/img/icons/valid.png">
                                <img class="errorImg" src="../../assets/img/icons/error.png">
                            </div>
                            <div id="inputNote3" class="inputNote" translate>
                                A message is required
                            </div>
                        </div>
                    </div>
                    
                    <div class="privacyPolicyConsent">
                        <div id="checkboxContainer" class="checkboxContainer" (click)="acceptPrivacyPolicy()">
                            <img id="checkboxTick" class="checkboxTick" [class.showTick]="privacyChecked" src="../../assets/img/icons/checkboxTick.svg">
                            <input #privacyField class="inputCheckbox" type="checkbox" required>
                            <div class="checkboxHoverContainer">
                            </div>
                        </div>
                        <div>
                            <span translate>Ich habe die</span>
                            <a (click)="showPrivacyPolicy()" translate>Datenschutzerklärung</a>
                            <span translate>gelesen und stimme der beschriebenen Verarbeitung meiner Daten zu.</span>
                        </div>
                    </div>
                    <button type="submit" class="button" #submitButton translate>Nachricht senden</button>
                </form>
            </div>
        </div>
    </div>
    <div class="upButton">
        <a href="#header">
            <div class="defUpBtn"></div>
        </a>
    </div>
</div>

