@import '../../styles.scss';

header {
    height: 80px;
    z-index: 1;

    .desktopMenu {
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .desktopMenuLeftSide {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap:1.5rem;

            > .slides {            
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                height: 40px;
                cursor: pointer;
            }
        }

        > .desktopMenuRightSide{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: inherit;
            gap: 1rem;
        }
    }
}

.ankerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 6px;
}

.ankerSubContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > a {
        display: inline-block;
        font-weight: 400;
        color: $blue;
        text-decoration: none;
        font-size: 23px;
        transition: font-weight 300ms ease;
        white-space: nowrap;

        &:hover {
            font-weight: bold;
            transition: font-weight 300ms ease;
            text-shadow: 1px 0 0 transparent;
        }

        &::after {
            display: block;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            font-weight: bold;
            font-size: 23px;        
        }
    }
}

.desktopMenuRightSide > div:first-of-type > .ankerSubContainer a::after {
    content: "Über mich";
}

.desktopMenuRightSide > div:nth-of-type(2) > .ankerSubContainer a::after  {
    content: "Skills";
}

.desktopMenuRightSide > div:nth-of-type(3) > .ankerSubContainer a::after  {
    content: "Portfolio";
}

.desktopMenuRightSide > div:last-of-type > .ankerSubContainer a::after  {
    content: "Kontakt";
}



/*      > div:first-of-type {
            width: 130px;
        }

        > div:nth-of-type(2) {
            width: 60px;
        }

        > div:nth-of-type(3) {
            width: 105px;
        }

        > div:last-of-type {
            width: 100px;
        } */


.mobileMenu {
    height: inherit;
    display: none;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    > img {
        height: 30px;
        cursor: pointer;
    }
}

    /* ====================== BURGER ICON ====================== */
.menuIcon {
    height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-around;
    cursor: pointer;

    > div {
        display: block;
        background-color: $blue;
        /* background-color: #5988FF; */            
        height: 2px;
        width: 28px;
        transition: 0.3s;
    }
}

.move .line1 {
    transform: rotate(-45deg) translate(-6px, 6.5px);
}
.move .line2 {
    opacity: 0;
}
.move .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}
/* ======================================================= */

.mobileMenuOpen {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    > div {
        width: auto;
    }

    a {
        text-align: center;
        font-weight: 400;
        color: $blue;
        /* color: #5988FF; */       
        text-decoration: none;
        font-size: 23px;
        transition: font-weight 300ms ease;

        &:hover {
            font-weight: 700;
            transition: font-weight 300ms ease;
        }
    }
}

/* .darkLinks {
    a {
        color: black;

        &:hover {
            color: rgba(0,0,0,0.8);
        }
    }
} */

.headerDark {
    background-color: white;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}

.blueLineMenu {
    width: 3rem;
    height: 3px;
    background-color: $dark-blue;
    /* background-color: #0043F0; */    
    border-radius: 0 2px 2px 0;
}

.selectedTab {
    font-weight: bold;
}

/* ====================== SLIDER ====================== */
.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.language,
.mode {
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px 0 9px;
}

.mode {
    padding: 0 10px 0 12px;
}

.mode img {
    width: 20px;
    height: 20px;
}

.mode img:first-of-type {
    width: 22px;
    height: 22px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 35px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $very-light-blue;
    /* background-color: #5988FF; */
}

input:focus + .slider {
    box-shadow: 0 0 1px $very-light-blue;
    /* #5988FF */
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 34px;
}
/* ================================= */

/* ==================== RESPONSIVENESS ================== */
@media (max-width: 1080px) {
    header {
        > .desktopMenu {
            > .desktopMenuRightSide{
    
                a {
                    font-size: 20px;
                }
            }
        }
    }

    .desktopMenu {
        > .desktopMenuRightSide {
            > div:first-of-type {
                width: 110px !important;
            }
        
            > div:nth-of-type(3) {
                width: 85px!important;
            }
        
            > div:last-of-type {
                width: 75px!important;
            }
        }
    }
}

@media (min-width: 720px) {
    .mobileMenuOpen {
        display: none;
    }
}

@media (max-width: 720px) {
    header > .mobileMenu {
        display: flex;
    }

    header > .desktopMenu {
        display: none;
    }
}













