<div class="backgroundSkills background">
    <div class="skillsContainer siteLayout" id="skills">
        <div class="title skillsTitle">
            Skills
        </div>
        <div class="skillsDescription">
            <div class="descriptionText" translate>Ich habe Erfahrung in Coding Projekten mit verschiedenen Frontend-Technologien und -Konzepten gesammelt.</div>
        </div>
        <div class="skillsIcons">
            <div class="firstRow">
                <div>
                    <img src="../../assets/img/icons/angularSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/typeScriptSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/javaScriptSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/htmlSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/scrumSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/firebaseSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/gitSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/cssSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/restApiSkill.png">
                </div>
                <div>
                    <img src="../../assets/img/icons/materialDesingSkill.png">
                </div>
            </div>
        </div>
    </div>   
</div>