@import '../../styles.scss';

.skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    background: linear-gradient(128.94deg, $light-blue -33.96%, $blue 112.25%)
    /* background: linear-gradient(128.94deg, #5988FF -33.96%, $light-blue 36.71%, $blue 112.25%); */    
    /* background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%); */
}

.skillsTitle {
    font-size: 96px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    color: white;
}

.skillsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        text-align: center;
        font-size: 23px;
        color: white;
        cursor: pointer;
    }
}

.skillsIcons {
    width: 100%;
    padding-bottom: 2rem;
}

.firstRow
/* .secondRow  */ {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(90px,1fr));
    grid-template-rows: repeat(2);


/*     display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
 */}

 .firstRow > div {
    display: flex;
    justify-content: center;
    align-items: center;
 }


/* ================== RESPONSIVENESS ================== */

@media (max-width: 1000px) {
    .firstRow {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 720px) {
    .firstRow {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: repeat(auto-fit, minmax(90px,1fr));
        grid-template-rows: repeat(2);

        > div > img {
            width: 60px;
            height: auto;
        }
    }
}

@media (max-width: 480px) {
    .skillsContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .firstRow, 
    .secondRow {
        > img {
            width: 50px;
            height: auto;
        }
    }

    .skillsTitle {
        font-size: 80px;
    }
    .skillsDescription {
        div {
            font-size: 18px;
        }
    }
}

@media (max-width: 360px) {
    .firstRow, 
    .secondRow {
        > img {
            width: 40px;
            height: auto;
        }
    }

    .skillsTitle {
        font-size: 60px;
    }
    .skillsDescription {
        div {
            font-size: 16px;
        }
    }
}
