.skillsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
}

.skillsTitle {
    font-size: 96px;
    font-family: 'Baloo 2', sans-serif;
    font-weight: bold;
    color: white;
}

.skillsDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        text-align: center;
        font-size: 23px;
        color: white;
        cursor: pointer;
    }
}

.skillsIcons {
    width: 100%;
    padding-bottom: 2rem;
}

.firstRow, 
.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
