<div class="skillsContainer" id="skills">
    <div class="skillsTitle">
        Skills
    </div>
    <div class="skillsDescription">
        <div translate>Ich habe Erfahrung in Coding Projekten mit verschiedenen Frontend-Technologien und -Konzepten gesammelt.</div>
        <button class="buttonBright">Get in touch</button>
    </div>
    <div class="skillsIcons">
        <div class="firstRow">
            <img src="../../assets/img/icons/angularSkill.png">
            <img src="../../assets/img/icons/typeScriptSkill.png">
            <img src="../../assets/img/icons/javaScriptSkill.png">
            <img src="../../assets/img/icons/htmlSkill.png">
            <img src="../../assets/img/icons/scrumSkill.png">
        </div>
        <div class="secondRow">
            <img src="../../assets/img/icons/firebaseSkill.png">
            <img src="../../assets/img/icons/gitSkill.png">
            <img src="../../assets/img/icons/cssSkill.png">
            <img src="../../assets/img/icons/restApiSkill.png">
            <img src="../../assets/img/icons/materialDesingSkill.png">
        </div>
    </div>
</div>
