<div class="portfolioContainer" id="portfolio">
    <div class="portfolioTitle">
        Portfolio
    </div>
    <div class="portfolioDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugiat facere aliquid culpa provident impedit?
    </div>
    <div class="projects">
        <div class="project">
            <div>
                <a href="https://tobias-odermatt.developerakademie.net/Projekte/Join/join.html" target="_blank">
                    <img src="../../assets/img/project1.png">
                </a>
                <div class="overlay">
                    <h2>Web Development</h2>
                    <a href="#">
                        <img src="../../assets/img/icons/link_white.svg" />
                    </a>
                </div>
            </div>
            <div>
                <div class="projectTitle">JOIN</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div class="projectDescription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio qui totam pariatur adipisci, inventore obcaecati?</div>
                <a href="https://github.com/TobiasOdi/Join.git" target="_blank" class="button">GitHub</a>
            </div>
        </div>
        <div class="project">
            <div>
                <a href="https://tobias-odermatt.developerakademie.net/Projekte/El_Pollo_Loco/index.html" target="_blank">
                    <img src="../../assets/img/project2_elpolloloco.png">
                </a>
                <div class="overlay">
                    <h2>Web Development</h2>
                    <a href="#">
                        <img src="../../assets/img/icons/link_white.svg" />
                    </a>
                </div>
            </div>
            <div>
                <div class="projectTitle">El Pollo Loco</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div class="projectDescription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quae non debitis officia accusamus culpa.</div>
                <a href="https://github.com/TobiasOdi/El-Pollo-Loco.git" target="_blank" class="button">GitHub</a>
            </div>
        </div>        
        <div class="project">
            <div>
                <a href="https://tobias-odermatt.developerakademie.net/Projekte/Pokedex/pokedex.html" target="_blank">
                    <img src="../../assets/img/project3_pokedex.png">
                </a>
                <div class="overlay">
                    <h2>Web Development</h2>
                    <a href="#">
                        <img src="../../assets/img/icons/link_white.svg" />
                    </a>
                </div>
            </div>
            <div>
                <div class="projectTitle">Pokedex</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>API | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div class="projectDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab sed excepturi dolorum rerum incidunt.</div>
                <a href="https://github.com/TobiasOdi/Pokedex.git" target="_blank" class="button">GitHub</a>
            </div>
        </div>
    </div>      
</div>
