<div class="portfolioContainer" id="portfolio">
    <div class="portfolioTitle">
        Portfolio
    </div>
    <div class="portfolioDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus fugiat facere aliquid culpa provident impedit?
    </div>
    <div class="projects">
        <div class="project">
            <div>
                <img src="../../assets/img/project1.png">
            </div>
            <div>
                <div class="projectTitle">JOIN</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div class="projectDescription">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio qui totam pariatur adipisci, inventore obcaecati?</div>
                <button class="button">GitHub</button>
            </div>
        </div>
        <div class="project">
            <div>
                <img src="../../assets/img/project2.png">
            </div>
            <div>
                <div class="projectTitle">El Pollo Loco</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis quae non debitis officia accusamus culpa.</div>
                <button class="button">GitHub</button>
            </div>
        </div>        
        <div class="project">
            <div>
                <img src="../../assets/img/project3.png">
            </div>
            <div>
                <div class="projectTitle">Pokedex</div>
                <div class="usedSkills">
                    <span>JavaScript | </span>
                    <span>API | </span>
                    <span>CSS | </span>
                    <span>HTML</span>
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ab sed excepturi dolorum rerum incidunt.</div>
                <button class="button">GitHub</button>
            </div>
        </div>
    </div>      
</div>
