* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
/*     font-family: 'Tilt Neon', sans-serif;
 */    background-color: white;
}

.icon {
    cursor: pointer;
}

.button {
    min-width: 137px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid #5988FF;
    color: #5988FF;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 23px;
    background-color: white;

    &:hover {
        background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        color: white;
    }
}
