$portfolio-bright-blue: #0043F0;
$portfolio-main-blue: #5988FF;
$portfolio-very-light-blue: #EAF0FF;

$dark-blue: #090B1B;
$blue: #191B3C;
$light-blue: #475FBC;
$very-light-blue: #676eac;

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
/*     font-family: 'Tilt Neon', sans-serif;
 */    background-color: white;
}

.icon {
    cursor: pointer;
}

.button {
    min-width: 137px;
    height: 58px;
    border-radius: 10px;
    border: 2px solid $blue;
    color: $blue;
    /* color: #5988FF; */    
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 23px;
    background-color: white;
    transition: all 300ms ease;
    text-decoration: none;

    &.button:hover {
        background: linear-gradient(128.94deg, #5988FF -33.96%, $blue 112.25%);
        /* background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #5988FF 6.25%, #5988FF 51.56%, #0043F0 100%); */        
        color: white;
        transition: all 300ms ease;
    }
}

.title {
    color: $blue;
}

.descriptionText {
    color: $blue;
}

.text {
    color: $blue;
}

/* ================================================================ SCROLLBAR ====================================================== */
/* 
  Container Class: 
    -   height: calc(100vh - 89px); => absolute height
    -   overflow: hidden;

  Subcontainer Class: 
    -  height: 100%;
    -  overflow-x: hidden;
    -  overflow-y: scroll;
    -  overflow: auto;
*/

.imprintContent::-webkit-scrollbar,
.dataProtectionContent::-webkit-scrollbar   {
  width: 10px;
  scrollbar-gutter: stable;
}

.imprintContent::-webkit-scrollbar-thumb,
.dataProtectionContent::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border: 2px solid white;
  border-radius: 6px;
}

.imprintContent::-webkit-scrollbar-button,
.dataProtectionContent::-webkit-scrollbar-button {
  color: #a8a8a8;
}

.imprintContent::-webkit-scrollbar-button,
.dataProtectionContent::-webkit-scrollbar-button {
  display: block;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

/* .imprintContent::-webkit-scrollbar-button:vertical:start:increment,
  .dataProtectionContent::-webkit-scrollbar-button:vertical:start:increment {
  background-image: url(../img/upArrow.svg);
  background-size: 10px 4px;
} */

.imprintContent::-webkit-scrollbar-button:vertical:start:decrement,
.dataProtectionContent::-webkit-scrollbar-button:vertical:start:decrement  {
  display: none;
}

.imprintContent::-webkit-scrollbar-button:vertical:end:increment,
.dataProtectionContent::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

/* .imprintContent::-webkit-scrollbar-button:vertical:end:decrement,
  .dataProtectionContent::-webkit-scrollbar-button:vertical:end:decrement {
  background-image: url(../img/downArrow.svg);
  background-size: 10px 4px;
} */

/* ==================== RESPONSIVNESS ==================== */

@media(max-width: 1080px) {

}

@media(max-width: 720px) {
  .button {
    min-width: 120px;
    height: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
  }

    .title {
    }
    
    .descriptionText {
    }
    
    .text {
    }
}

@media(max-width: 480px) {
  .button {
    min-width: 100px;
    height: 45px;
  }

    .title {
    }
    
    .descriptionText {
    }
    
    .text {
    }
}

@media(max-width: 360px) {
    .button {
    }

    .title {
    }
    
    .descriptionText {
    }
    
    .text {
    }
}

@media(max-width: 300px) {
    .title {
    }
    
    .descriptionText {
    }
    
    .text {
    }
}

